<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load filters %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>竞赛详情</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/layui/css/layui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
        .c_time_1 li, .c_time_2 li {
            display: inline-block;
            font-size: 14px;
            line-height: 30px;
            color: #333;
            text-align: center;
            margin-left: 6%;
            margin-right: 9.5%;
        }
        .c_time_2 li {
            color: #7b838d;
            margin-left: 0;
            margin-right: 4%;
            line-height: 50px;
        }
        .c_time_2 li:nth-child(2) {
            margin-right: 2%;
        }
        .c_time_2 li:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
<iframe src="/contest/head" style="width:99%;height:75px;"></iframe>
<div class="inner2" style="margin-top: 0px; padding-top: 0px;">
    {% csrf_token %}
    <div class="innertop">
        <div class="line">
            <div class="tleft tcolor1"><img src="{% static 'images/stu/bg_detial.jpeg' %}" width="489" height="276">
            </div>
            <div class="tright">
                <div class="ititle">赛题：{{ con.con_name }}</div>
                <div class="ititle2">
                    <br><br><br>
                </div>
                <div class="ctime">
                    <ul class="c_time_1">
                        <li>报名时间</li>
                        <li>截至时间</li>
                        <li>竞赛时间</li>
                    </ul>
                    <img src="{% static 'images/ctime1.png' %}" width="659">
                    <ul class="c_time_2">
                        <li>{{ con.con_time|date:"Y-m-d H:i:s" }}</li>
                        <li>{{ con.con_signtime|date:"Y-m-d H:i:s" }}</li>
                        <li>{{ con.con_endtime|date:"Y-m-d H:i:s" }}</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--innerbottom-->
    <div class="innerbottom">
        <div class="line">
            <div class="bleft" style="position: static; top: 0px; z-index: 10;">
                <ul>
                    <li id="cs2" style="margin-top: 10px; background-image: url({% static 'images/bpic1.png' %}); color: rgb(42, 46, 90);">
                        竞赛规则
                    </li>
                    <li id="cs2" style="background-image: url({% static 'images/bpic1.png' %}); color: rgb(42, 46, 90);">
                        竞赛时间
                    </li>
                    <li id="cs3" style="background-image: url({% static 'images/bpic1.png' %}); color: rgb(42, 46, 90);">
                        报名时间
                    </li>
                    <li id="cs4" style="background-image: url({% static 'images/bpic1.png' %}); color: rgb(42, 46, 90);">
                        竞赛语言
                    </li>
                    <li id="cs5" style="background-image: url({% static 'images/bpic1.png' %}); color: rgb(42, 46, 90);">
                        竞赛环境
                    </li>
                    <li id="cs6" style="background-image: url({% static 'images/bpic1.png' %}); color: rgb(42, 46, 90);">
                        竞赛场地
                    </li>
                </ul>
            </div>
            <div class="bright">
                <a  id="cst1" class="cs1"></a>
                <span>一、竞赛规则：</span><br>
                {{ con.con_rule|safe }}
                <br><br>
                <a id="cst2" class="cs2"></a>
                <span>二、竞赛时间：</span><br>
                {{ con.con_time|date:"Y-m-d H:i:s" }}
                <br><br>
                <a id="cst3" class="cs3"></a>
                <span>三、报名时间：</span><br>
                {{ con.con_signtime|date:"Y-m-d H:i:s" }} 至 {{ con.con_endtime|date:"Y-m-d H:i:s" }}
                <br><br>
                <a id="cst4" class="cs4"></a>
                <span>四、竞赛语言：</span><br>
                {{ con.con_lang }}
                <br><br>
                <a id="cst5" class="cs5"></a>
                <span>五、竞赛环境：</span><br>
                {{ con.con_environ }}
                <br><br>
                <a id="cst6" class="cs6"></a>
                <span>六、竞赛场地：</span><br>
                {{ con.con_place }}
                <br><br>
                <a id="cst7" class="cs7"></a>
                <span>七、竞赛级别：</span><br>
               {{ con.con_level|level }}
                <br><br>
                {% if request.session.login_user %}
                    {% if sign %}
                        {% if sign.sign_state != 2 %}
                            <div class="csign inputcase1">
                            已报名
                            </div>
                        {% endif %}
                    {% else %}
                        {% if con.con_signtime <= con.today and con.con_endtime >= con.today %}
                            <div class="csign inputcase1">
                            <a href="/contest/sign/{{ con.con_id }}/">立即报名</a>
                            </div>
                        {% elif con.today < con.con_signtime %}
                            <div class="csign inputcase1">
                                报名未开始</div>
                        {% else%}
                            <div class="csign inputcase1">
                            报名已结束</div>
                        {% endif %}
                    {% endif %}

                {% if sign %}
                    <div style="text-align: center; font-size: 16px; padding-top: 6px;">
                        {% if sign.sign_state == 0 %}
                            <a href="javascript:void(0);" style="color: red;" id="giveup">申请弃赛</a>
                        {% elif sign.sign_state == 1 %}
                            <a href="javascript:void(0);" style="color: red;">弃赛待审核</a>
                        {% elif sign.sign_state == 2 %}
                            <a href="javascript:void(0);" style="color: red;">已退赛</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                {% if con.con_signtime <= con.today and con.con_endtime >= con.today %}
                   <div class="csign inputcase1">
                        <a href="/user/login?next=/contest/sign/{{ con.con_id }}/">登录并报名</a>
                    </div>
                {% elif con.today < con.con_signtime %}
                    <div class="csign inputcase1">
                        报名未开始
                    </div>
                {% else %}
                    <div class="csign inputcase1">
                    报名已结束</div>
                {% endif %}
            {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'lib/layui/layui.js' %}"></script>
<script>
    layui.use(['form', 'layer', 'upload'],
        function() {
            var $ = layui.$;
            $("#giveup").click(function () {
                $.ajax({
                    url: '/contest/sign/check/{{ sign.sign_id }}/?state=2',
                    dataType: "json",
                    data: {'state': 1, 'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()},
                    type: "POST",
                    success: function (result) {
                        layui.layer.msg(result.msg, {
                            icon: result.code,
                            time: 3000
                        });
                        window.location.reload();
                    }
                });
            })

        });
</script>
</html>