<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="pmPdczRdjp"/>
    <meta name="keywords" content="蓝桥杯大赛——全国大学生TMT行业赛事"/>
    <meta name="description" content=""/>
    <title>兰州理工大学-天梯赛</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index201708.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index20200706.css' %}"/>
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.superslide.2.1.1.js' %}"></script>
</head>
<body>
<div class="navigation-wrap">
    <div class="head-wrap">
        <div class="left-wrap">
            <a class="home" href="https://www.lanqiao.cn/"></a>
            <ul class="menu">
                <!-- <li class="link act"><a href="">首页</a></li> -->
                <li class="link"><a href="http://dasai.lanqiao.cn/">蓝桥杯</a></li>
                <li class="link"><a target="_blank" href="/pages/dasai/curren_item.html">本届赛事</a></li>
                <li class="link">
                    <a href="">关于大赛</a>
                </li>
                <li class="link">
                    <a href="">学习资料</a>
                </li>

                <li class="link">
                    <a target="_blank"
                       href="https://www.lanqiao.cn/questions/?topic_id=20&amp;pft=1&amp;sub_topic_id=21">交流讨论
                        <span class="beizt"></span>
                    </a>
                </li>
                <li class="link"><a href="/pages/dasai/tell_ours.html">联系我们</a></li>
                <li class="link"><a href="http://www.lanqiaobei.cn/">ENGLISH</a></li>
            </ul>
        </div>
        <div class="right-wrap">
            <ul class="ent-wrap">

                <li class="user" id="login_logined" style="">
                    <div class="head">
{#                        <div class="bell-wrap">#}
{#                            <a href="/pages/account/message.html">#}
{#                                <img class="bell" src="https://static.lanqiao.cn/dasai/images/20200706/bell.png">#}
{#                                <span class="num" id="newsNum" style="display:none;">0</span>#}
{#                            </a>#}
{#                        </div>#}
                        <div class="user-info">
                            {% if request.session.login_user %}
                            <img class="photo" src="/static{{ request.session.login_user.stu_avator }}">
                            <p class="my_top"><a href="/user/student/{{ request.session.login_user.stu_id }}/"  target="_blank">{{ request.session.login_user.stu_name }}</a></p>
                             <p class="my_top">
                                <a href="javascript:void(0);" onclick="logout()">注销</a>
                            </p>
                            {% else %}
                             <p class="my_top"><a href="javascript:window.top.location.href='/user/login';">登录</a></p>
                             <p class="my_top">
                                <a href="javascript:window.top.location.href='/user/register';">注册</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
<script type="text/javascript">
    function logout() {
        window.top.location.href = '/user/logout'
    }
</script>
</html>